@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */

@layer base {
  div,
  p,
  a {
    @apply text-body-sm;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root > div[role='alert'] {
    height: 100vh;
  }

  @media (min-width: 575.98px) {
    .sm\:max-w-lg.thing-service-popup {
      max-width: 78rem;
    }
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f4f5f6;
  }

  input[type='file'] {
    display: none;
  }
}

/* react-grid-layout CSS */

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item[data-iseditmode='false'] > .react-resizable-handle {
  cursor: default;
}

.react-grid-item > .react-resizable-handle::after {
  content: '';
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-grid-item:not(.react-grid-placeholder) {
  background-color: white;
}

/* react-carousel CSS */

.react-multiple-carousel__arrow {
  position: absolute !important;
  outline: 0;
  transition: all 0.5s !important;
  border-radius: 35px !important;
  border: solid 1px red !important;
  background: white !important;
  min-width: 36px !important;
  min-height: 36px !important;
  opacity: 1;
  cursor: pointer !important;
}

.react-multiple-carousel__arrow--left::before {
  content: '\e824';
  color: red !important;
  font-size: 16px !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(3% - 30px) !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(3% - 30px) !important;
}
.react-multiple-carousel__arrow--right::before {
  content: '\e825';
  color: red !important;
  font-size: 16px !important;
}

.react-multiple-carousel__arrow:hover {
  background: red !important;
}

.react-multiple-carousel__arrow:hover::before {
  color: aliceblue !important;
}
