@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div,
  p,
  a {
    @apply text-body-sm;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root > div[role='alert'] {
    height: 100vh;
  }

  @media (min-width: 575.98px) {
    .sm\:max-w-lg.thing-service-popup {
      max-width: 78rem;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 6px transparent;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f4f5f6;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  input[type='file'] {
    display: none;
  }
}

/* react-grid-layout CSS */

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  will-change: width, height;
  z-index: 1;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  will-change: transform;
  z-index: 3;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  user-select: none;
  z-index: 2;
}

.react-grid-item > .react-resizable-handle {
  bottom: 0;
  cursor: se-resize;
  height: 20px;
  position: absolute;
  right: 0;
  width: 20px;
}

.react-grid-item[data-iseditmode='false'] > .react-resizable-handle {
  cursor: default;
}

.react-grid-item > .react-resizable-handle::after {
  border-bottom: 2px solid rgb(0 0 0 / 40%);
  border-right: 2px solid rgb(0 0 0 / 40%);
  bottom: 3px;
  content: '';
  height: 5px;
  position: absolute;
  right: 3px;
  width: 5px;
}

.react-grid-item:not(.react-grid-placeholder) {
  background-color: white;
}

/* day-picker css */
.rdp-dropdown_month {
  margin-right: 18px;
}

.rdp-dropdown_month,
.rdp-dropdown_year {
  cursor: pointer;
}

.rdp-dropdown_month .text-table-header,
.rdp-dropdown_year .text-table-header {
  display: flex;
}

.rdp-dropdown_month .text-table-header > svg,
.rdp-dropdown_year .text-table-header > svg {
  align-self: center;
}

/* Popover CSS */
.popover-content {
  max-height: 500px;
  overflow: auto;
  width: var(--radix-popover-trigger-width);
}

/* Progress bar */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ed1d2e;
  height: 4px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow:
    0 0 10px #ed1d2e,
    0 0 5px #ed1d2e;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0, -4px);
  width: 100px;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1031;
}

#nprogress .spinner-icon {
  animation: nprogress-spinner 400ms linear infinite;
  border: solid 2px transparent;
  border-left-color: #ed1d2e;
  border-radius: 50%;
  border-top-color: #ed1d2e;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
