.custom-node-0 rect {
  fill: #fc0;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
    rx: 10px;
  ry: 10px;
  stroke: #fc0;
  stroke-width: 2px;
}

.custom-node-1 rect {
  fill: #6cf;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #6cf;
  stroke-width: 2px;
}

.custom-node-2 rect {
  fill: #9f9;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #9f9;
  stroke-width: 2px;
}

.custom-node-3 rect {
  fill: #ee85e0;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #ee85e0;
  stroke-width: 2px;
}

.custom-node-4 rect {
  fill: #42a5f5;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #42a5f5;
  stroke-width: 2px;
}

.custom-node-5 rect {
  fill: #66bb6a;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #66bb6a;
  stroke-width: 2px;
}

.custom-node-6 rect {
  fill: #ffeb3b;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #ffeb3b;
  stroke-width: 2px;
}

.custom-node-7 rect {
  fill: #ff9800;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #ff9800;
  stroke-width: 2px;
}

.custom-node-8 rect {
  fill: #9c27b0;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #9c27b0;
  stroke-width: 2px;
}

.custom-node-9 rect {
  fill: #e91e63;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #e91e63;
  stroke-width: 2px;
}

.custom-node-10 rect {
  fill: #795548;
  filter: drop-shadow(3px 7px 0 rgb(0 0 0 / 40%));
  rx: 10px;
  ry: 10px;
  stroke: #795548;
  stroke-width: 2px;
}

.custom-svg-class {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

.custom-svg-class-0 path {
  stroke: #2c02c2;
  stroke-width: 1.5px;
}

.custom-svg-class-1 path {
  stroke: #ee85e0;
  stroke-width: 2px;
}

.custom-svg-class-2 path {
  stroke: #42c421;
  stroke-width: 2px;
}

.custom-svg-class-3 path {
  stroke: #bad810;
  stroke-width: 2px;
}

.clicked-text {
  cursor: pointer;
  fill: red; 
}
