.embla__dots {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.embla__dot {
  align-items: center;
  appearance: none;
  aspect-ratio: 1;
  background-color: hsl(180deg 2% 92% / 100%);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  touch-action: manipulation;
  width: 2rem;
}

.embla__dot::after {
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  content: '';
  display: flex;
  width: 2rem;
}

@media (max-width: 767.98px) {
  .embla__dot {
    width: 1rem;
  }
}

.embla__dot--selected::after {
  background-color: hsl(355deg 85% 52% / 80%);
}
